{% extends "base.html" %}

{% block content %}

<p class="p_header">About the project</p>

<p class="p_content">While partisan yelling may make for good television, the important nuances of issues often get lost in the noise. If we're going to be able to tackle the complex problems of today and tomorrow, we need to understand both the issues, and each other. Above all, we need to find new ways of discussing what's important and understanding viewpoints different than our own. The Great Civil Debate Wall is an experiment in how to create a civil and informed dialogue around important issues. </p>

<p class="p_content">It starts with a question. These questions will change regularly and follow events of interest locally, nationally, and to the UF campus.</p>

<p class="p_content">Once you choose from a range of responses, you'll try to convince others as to why you believe what you do. </p>

<p class="p_content">Then, you'll be able to see how others responded, and vote on whether you find their answers convincing or unconvincing.</p>

<p class="p_content">In the student union, you'll be able to see a visualization showing the most convincing responses, and the overall voting trends. </p>

<p class="p_content">The Great Civil Debate Wall is a work in progress and we welcome your thoughts on this <a href="https://spreadsheets.google.com/a/localprojects.net/viewform?hl=en&formkey=dGY4ejlMUUxVT2J0LUl0V1poU3ZhNEE6MQ#gid=0" target="_blank"><u>feedback form</u></a> as we refine and evolve the system. Thanks for participating. </p>

{% endblock %}