{% extends "base.html" %}

{% load vote_extras %}

{% block content %}

<div class="question_all">


<p class="question_header_new">The question was:</p> 

	<p class="question_text">{{choice.question.text}}</p>

{% if author %}
	<p class="question_answers_header">You already answered:</p>
{% else %}
    <p class="question_answers_header">{{choice.user.first_name}} {{choice.user.last_name}} answered:</p>
{% endif %}
	

	<div class="question_answer_container">
		<div class="Ansagain_{{choice.answer.number|add:'-1'|numtoletter}} Ansagain_padded">


			<div class="answer_selected">
			<p> {{choice.answer.text}}</p>
			</div>


			<div class="inside">
			<div class="rate_names"> {% if author %} You {% else %} {{choice.user.first_name}} {% endif %} commented:</div>
			<div class="rate_comms"><i>"{{choice.comment_text}}"</i></div>

			</div>



		</div>
		
	</div>

</div>
<p class="p_content">

{% if author %}
Thank you for participating! We will post new questions soon.
{%else%}
<a class="submitbutton nolink_white" href="{{base_url}}/vote/">What do you think?</a>
{% endif %}

</p>
{% endblock %}

