{% extends "base.html" %}

{% block content %}

<p class="p_header">Privacy Policy</p>

<p class="p_content"><b>What we are collecting</b></p>

<p class="p_content">As the designers and developers of this project, Local Projects LLC are storing your name, email (if not logged in through Facebook), and password. We are also storing your answers to questions, and a record of your replies to the responses of others. These are stored securely on a non-University server.</p>

<p class="p_content"><b>Use of your personal data</b></p>

<p class="p_content">Local Projects strives to provide the highest level of protection for your information, we may disclose personally identifiable information about you to third parties in limited circumstance, including: (1) with your explicit consent; or (2) when we have a good faith belief it is required by law, such as pursuant to a subpoena or other judicial or administrative order.</p>

<p class="p_content">If we are required by law to disclose the information that you have submitted, we will attempt to provide you with notice (unless we are prohibited) that a request for your information has been made in order to give you an opportunity to object to the disclosure. We will attempt to provide this notice by email, if you have given us an email address, or by private message on Facebook if you have logged in using Facebook. If you do not challenge the disclosure request, we may be legally required to turn over your information.</p>

<p class="p_content">Because the website is enabled with a Facebook login feature, any data you share with Facebook as a result of using this site is subject to Facebook's terms of use and privacy policies.</p>

<p class="p_content">Apart from the circumstances described above, we will not transfer or sell your data to third parties under any circumstances.</p>

<p class="p_content"><b>Removing your information</b></p>

<p class="p_content">If you would like to delete your data entirely, please send an email to info@localprojects.net.</p>

<p class="p_content"><b>Display of your information</b></p>

<p class="p_content">Your responses on this system may appear on a public visualization, and your name will be attributed with the firstname and first initial of your lastname. Although we will not share data with third parties, you should consider all responses and replies entered into the system as public. </p>

<p class="p_content"><b>Personal safety</b></p>

<p class="p_content">The Great Civil Debate is an interactive system designed to promote civil discourse on contemporary issues. Consider your personal safety and exercise good judgement before engaging in real life meetings with other participants whom you do not personally know. Local Projects LLC and the University of Florida are not liable for any harm that may come to you as a result of interactions facilitated by this system.</p>

<p class="p_content"><b>Changes to our policy</b></p>

<p class="p_content">Significant changes to this policy will be highlighted clearly on this page.</p>

{% endblock %}