{% load vote_extras %}



<script>
$(document).ready(function(){

/*

    $('#tuftevis').tufteBar({
    

data: [

      // For stacked graphs, pass an array of non-cumulative y values
      [ [{% for number, answer_text_and_count in stats.items reversed %}{{ answer_text_and_count.count }}{%if forloop.last %}{%else%},{%endif%}{%endfor%}], {label: ''}]
    ],

    // Any of the following properties can be either static values 
    // or a function that will be called for each data point. 
    // For functions, 'this' will be set to the current data element, 
    // just like jQuery's $.each

    // Bar width in arbitrary units, 1.0 means the bars will be snuggled
    // up next to each other
    barWidth: 0.8, 

    // The label on top of the bar - can contain HTML
    // formatNumber inserts commas as thousands separators in a number
    barLabel:  function(index) { 
      return ''
    }, 

    // The label on the x-axis - can contain HTML
    axisLabel: function(index) { 

return this[1].label 

	//return ['dsafsad', 'sssa', 'adsasd'][stackedIndex % 3]

}, 

    // Stacked graphs also pass a stackedIndex parameter
    color:     function(index, stackedIndex) { 
      return ['#FFB4AB', '#ABFFAB', '#ABC7FF'][stackedIndex % 3] 
    },
  });
  */


$(".subsub").addClass("p"+Math.round({{stats.items.0.1.percent}}));
$(".sub").addClass("p"+Math.round({{stats.items.0.1.percent}}+{{stats.items.1.1.percent}}));
});

</script>

<p class="question_header_1"><a href="{{base_url}}/vote/about/" class="nolink"><u>What is this&#63;</u></a></p> 
<div class="r_header">Finished, thanks!</div>
<div class="p_content">We'll email you when we begin another topic. See the most and least convincing responses in the lobby of Pugh Hall, or online at <a href="http://www.greatcivildebate.com/" class="nolink"><u>greatcivildebate.com</u></a>.</div>
  
<p class="p_header">Results</p>

{% csrf_token %}
    

<!--<div id="tuftevis"></div>-->


<div id="bar_graph">
<dl id="csschart">				
	<dd class="p100"><span></span></dd>
	<dd class="sub" ><span></span></dd>
	<dd class="subsub" ><span></span></dd>			
</dl>
</div>
<div id="vislegend">
{% for number, answer_text_and_count in stats.items %}
<div class="w_img"><img src="/static/img/{{number|add:'-1'|numtoletter}}{{number|add:'-1'|numtoletter}}.png"></div>
<div class="group">
<div class="leg_h">{{answer_text_and_count.percent|floatformat}} %</div><br/><div class="leg_c">{{ answer_text_and_count.text }}</div>
</div>
{%endfor%}
</div>
      

<!--        
<table class="results">
	<caption>Results</caption>
	<thead>
		<tr>
			<td></td>
			<th scope="col">Votes</th>
			<th scope="col">Dummy</th>
		</tr>
	</thead>
	<tbody>
	{% for number, answer_text_and_count in stats.items %}
		<tr>
			<th scope="row">{{number|add:'-1'|numtoletter}} : {{ answer_text_and_count.text }}</th>
			<td>{{ answer_text_and_count.count }}</td>
			<td>0</td>
			
			
		</tr>
 {%endfor%}
			
	</tbody>
</table>
-->


        
<script>
  //  $(".results").hide();
  //  $(".results").visualize({type: 'pie', height: '300px', width: '300px'});
  //  $(".visualize").css("margin-left","auto");
  //  $(".visualize").css("margin-right","auto");
</script> 



<!--
<div class="p_content ">
{% for number, picks in stats.items %}
<p>
    {{number|add:'-1'|numtoletter}} : {{picks}}
</p>
{%endfor%}
</div>
-->

<br/><br/>
<!--
<div class="p_content ">
<img src="/static/img/vis2.jpg"></div>
-->
{% if facebook %}

<script>
    function submitPostToWall()
    {
        $.get("{{base_url}}/vote/post_to_wall/{{choice.id}}/", 
                
                function(data){
                 
                    if(data.success){
                        
                        $(".post_to_wall").html("Your response has been posted to your Facebook wall!");
                        
                    } else {
                    
                        $(".post_to_wall").html("There was an error. We could not publish your response to your Facebook wall :(");
                    }
                    
                });
    }
</script>


<div class="post_to_wall_container Ans_{{choice.answer.number|add:'-1'|numtoletter}}">
	<div class="post_to_wall_container_sub">
		<div class="post_content">{{choice.comment_text|nobadwords|max32}}</div>
		<div class="post_to_wall">
		  <script>submitPostToWall();</script>
		<!--<a href="javascript:submitPostToWall();"><div class="agreebutton post_button nolink_white">Post your response on Facebook</div></a>-->
		</div>
	</div>
</div>
{% endif %}

