# Mac
/.DS_Store
*.DS_Store

# VIM
*.swp
*.swo

# Flash
/bin-debug
bin-debug/
*.air
*.dmg
*.exe

!deploy_tools/*.exe

air_projects/cdw_kiosk/build.properties
org.eclipse.ltk.core.refactoring.prefs
air_projects/.metadata/

# LOGS
*.log

# GIT
*.orig

# GPL Release
air_projects/face_crop_tool
air_projects/futil_demo
air_projects/object_detection
air_projects/wall_saver_scratch
slr_control
air_projects/libs/framework.swc
air_projects/libs/greensock.swc
air_projects/libs/textLayout.swc
air_projects/cdw_kiosk/libs/greensock.swc
air_projects/cdw_kiosk/libs/MonsterDebugger.swc
air_projects/cdw_kiosk/bin-debug
air_projects/cdw_kiosk/certificate


