Header set Expires "Thu, 19 Nov 1981 08:52:00 GM"
Header set Cache-Control "no-store, no-cache, must-revalidate, post-check=0, pre-check=0"
Header set Pragma "no-cache"

<IfModule mod_rewrite.c>      
  RewriteEngine on
  RewriteBase /    
  RewriteCond %{REQUEST_URI} !^/rockmongo  
  RewriteCond %{REQUEST_URI} !^/static 
  RewriteCond %{REQUEST_URI} !^/info.php  
  RewriteCond %{REQUEST_URI} !^/icons
  RewriteCond %{REQUEST_URI} !^/favicon.ico$
  RewriteCond %{REQUEST_URI} !^(/.*)+code.py/  
  RewriteRule ^(.*)$ code.py/$1 [PT]
</IfModule>

<Files code.py>
    SetHandler wsgi-script
    Options ExecCGI FollowSymLinks
</Files>